Source: midimonster
Section: utils
Priority: optional
Maintainer: cbdev <cb@cbcdn.com>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: https://midimonster.tech/
Vcs-Browser: https://github.com/cbdevnet/midimonster
Vcs-Git: https://github.com/cbdevnet/midimonster

Package: midimonster
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Multi-protocol translation tool
 The MIDIMonster allows the user to translate any channel on one protocol
 into channel(s) on any other (or the same) supported protocol.
 Supported protocols include ArtNet, OSC, MIDI, sACN, and many more.
