; This configuration maps the 16 rotaries on a Launchcontrol
; (running a user preset which assigns them to Channel 0 CC 0 - 16)
; to the first 16 channels on sACN universe 1 (multicast).
; The buttons can be used as flash triggers for the first 8 channels.

[backend midi]
name = MIDIMonster

[backend sacn]
bind = 0.0.0.0

[midi lc]
read = Launch Control

[sacn out]
universe = 1

[map]

lc.ch0.cc{0..15} > out.{1..16}
lc.ch0.note{0..7} > out.{1..8}
