; This configuration maps the 16 rotaries on a Launchcontrol
; (running a user preset which assigns them to Channel 0 CC 0 - 16)
; to the first 16 channels on sACN universe 1 (multicast).
; The buttons can be used as flash triggers for the first 8 channels.

[backend midi]
name = MIDIMonster

[backend sacn]
bind = 0.0.0.0

[midi lc]
read = Launch Control

[sacn out]
universe = 1
priority = 100

[map]

lc.cc0.0 > out.1
lc.cc0.1 > out.2
lc.cc0.2 > out.3
lc.cc0.3 > out.4
lc.cc0.4 > out.5
lc.cc0.5 > out.6
lc.cc0.6 > out.7
lc.cc0.7 > out.8
lc.cc0.8 > out.9
lc.cc0.9 > out.10
lc.cc0.10 > out.11
lc.cc0.11 > out.12
lc.cc0.12 > out.13
lc.cc0.13 > out.14
lc.cc0.14 > out.15
lc.cc0.15 > out.16

lc.note0.0 > out.1
lc.note0.1 > out.2
lc.note0.2 > out.3
lc.note0.3 > out.4
lc.note0.4 > out.5
lc.note0.5 > out.6
lc.note0.6 > out.7
lc.note0.7 > out.8
