; This configuration uses a Lua script to distribute one input channel (from either a mouse
; button or an axis control) onto multiple output channels (on ArtNet).

[backend artnet]
bind = 0.0.0.0

[evdev mouse]
device = /dev/input/by-path/platform-i8042-serio-2-event-mouse

[evdev xbox]
;device = /dev/input/event17
axis.ABS_X = 34300 0 65535 255 4095
axis.ABS_Y = 34300 0 65535 255 4095

[lua lua]
script = demo.lua

[artnet art]
universe = 0
destination = 255.255.255.255

[map]
mouse.EV_KEY.BTN_LEFT > lua.click
xbox.EV_ABS.ABS_X > lua.offset
xbox.EV_ABS.ABS_Y > lua.width

art.{1..11} < lua.out{0..10}
art.12 < lua.dim
