; Translate a MIDI fader wing into an OSC fader view and vice versa

[backend midi]
name = MIDIMonster

[backend artnet]
bind = 0.0.0.0 6454
net = 0

[osc touch]
bind = * 8000
dest = learn@8000
root = /4

; Pre-declare the fader values so the range mapping is correct
/fader* = f 0.0 1.0
/multifader1/* = f 0.0 1.0

[midi bcf]
read = BCF
write = BCF

[map]

bcf.ch0.cc{81..88} <> touch./fader{1..8}
bcf.ch0.cc{81..88} <> touch./multifader1/{1..8}
